<h1>Profile for <%= @user.username %></h1>	


<% if user_signed_in? && current_user?(@user) %>
	<%= avatar_for(@user) %>
	<%= link_to "Edit", edit_user_path(@user) %> 
	
<% end %>

<% if user_signed_in? && !current_user?(@user) %>
	<% if current_user.following?(@user) %>
		<%= button_to "UnFollow", relationship_path(user_id: @user.id), method: :delete, class: "button" %>
	<% else %>
		<%= button_to "Follow", relationships_path(user_id: @user.id), class: "button " %>
	<% end %>
<% end %>