<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "MyBlog", root_path, class: "navbar-brand" %>
		<ul class="nav navbar-nav navbar-right">
			<li class="new-story-button"><%= link_to  "Write a story", new_post_path, class: "button"%></li>
				<% if user_signed_in? %>
					<li class="current-user-avatar"><%= link_to(avatar_for(current_user, size: 35) , current_user) %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li class="new-story-button"><%= link_to "Sign In/Sign Up", new_user_session_path, class: "button " %> </li>
				<%end%>
		</ul>
		<!-- <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="main-searchbar" id="main-searchbar">
					<%= react_component('SearchContainer',{}, {prerender: true}) %>
				</li>
			</ul>
		</div> -->
	</div>
</nav>